.main-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.2s;
  opacity: 0.85;
}

.main-arrow span {
  width: 50px;
  height: 50px;
}

.main-arrow--left {
  left: -31px;
}
.main-arrow--right {
  right: -31px;
}

.main-arrow--left span {
  display: inline-block;
  transform: scaleX(-1);
}

.main-arrow[disabled] {
  opacity: 0.3;
  cursor: not-allowed;
  pointer-events: none;
}
.slider-component {
  position: relative;
}

@media screen and (max-width: 750px) {
  .main-arrow--left {
    left: 0;
  }
  .main-arrow--right {
    right: 0;
  }
}
